# 파이선 기초

- 기본 변수 (단일 데이터 저장)
 - 정수(int), 부동소수(float), 문자열(strings), 불리언(bool)  
- 데이터 묶음 (복수 데이터 저장)
 - 리스트(list), 배열(array), 튜풀(tuple), 사전(dictionary) 
- 프로그램 흐름
 - if, else, for, while

# 기본 변수
## 숫자
- 단일 숫자를 담는 변수
- 정수(int), 부동소수(float)

### 변수에 값을 배정(assign)
- "="를 사용

In [1]:
x = 7
print(x)

7

In [ ]:
y = 0.5
print(x+y)

7.5

In [ ]:
# 변수의 종류(타입) 보기
type(x)

int

In [ ]:
type(y)

float

In [ ]:
# 변수에 새로운 값을 배정 (엎어쓰기)
y = 4
type(y)

int

### 4칙 연산

In [ ]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)

11
3
28
1.75

In [ ]:
# 몫과 나머지 구하기
print(x//y)
print(x%y)

1
3

In [ ]:
# 승수 (power)
print(x**y)

2401

In [ ]:
# 10의 지수승 표시 (exponential)
z = 1.23e5
z

123000.0

In [ ]:
z = 1.23E-2 # e, E는 동일하게 사용된다
z

0.0123

## 문자열

In [1]:
print("문자열 출력하기")
print('따옴표는 "혼용"이 가능합니다')
print("본인의 '취향대로' 사용하세요")

문자열 출력하기
따옴표는 "혼용"이 가능합니다
본인의 '취향대로' 사용하세요

In [ ]:
print("특수 기호를 출력할 때는 \" 이렇게 백 슬래시를 사용하세요")

특수 기호를 출력할 때는 " 이렇게 백 슬래시를 사용하세요

In [ ]:
print("새로운 줄(new line)을 출력하려면 \n 백 슬래시를 사용하세요")

새로운 줄(new line)을 출력하려면
 백 슬래시를 사용하세요

In [ ]:
x = "임의의 문자열을.."
y = "붙여서 새로운 문자열로 만든다"
print(x + y)

임의의 문자열을..붙여서 새로운 문자열로 만든다

In [ ]:
x * 3

'임의의 문자열을..임의의 문자열을..임의의 문자열을..'

In [ ]:
# 문자열의 길이 보기 (length)
len(x)

10

In [ ]:
# 특정 위치의 문자 보기 (indexing)
x[5]

'자'

In [ ]:
# 일부분만 보기 (slicing)
x[2:6] # 이상 ~ 미만

'의 문자'

In [ ]:
x[6:9] # 7번째 ~9번째까지

'열을.'

In [ ]:
# 뒤에서부터 카운트
x[-1]

'.'

In [ ]:
x

'임의의 문자열을..'

In [ ]:
x[2:-3]

'의 문자열'

### 문자열 조작, split과 join
- 문자열을 공백, "/", "," 등을 기준으로 나누거나 합친다
- 나누어진 항목은 리스트(list)에 저장된다 (리스트는 여러 데이터를 묶은 것)

In [ ]:
# 공백 기준으로 나눈 리스트를 얻는다
print(x)
x.split()

임의의 문자열을..

['임의의', '문자열을..']

In [ ]:
# "/"를 기준으로 나눈다
y = '12/31/2030'
z = y.split('/')
z

['12', '31', '2030']

In [ ]:
# 리스트의 인덱싱
z[2]

'2030'

In [ ]:
# 리스트 내의 문자열들을 합치기
",".join(z)

'12,31,2030'

In [ ]:
# 순서를 바꾸어서 합치기
"-".join((z[2], z[1], z[0]))

'2030-31-12'

In [ ]:
# 문자열 교체 (replace)
print(x)
print(x.replace("문자열", "긴 문장들"))

임의의 문자열을..
임의의 긴 문장들을..

### 문자열에 포맷( format) 사용하기
- "%" 사용
- format() 사용
- f"..." 사용

In [ ]:
"변수가 %d 개 들어 있는 문자열 출력하기" %10

'변수가 10 개 들어 있는 문자열 출력하기'

In [ ]:
x = 5
print("변수가 %d 개 들어 있는 문자열 출력하기" %x)

변수가 5 개 들어 있는 문자열 출력하기

In [ ]:
# 정수와 소수 사용
x = 5 
y = 97.5
print("변수가 %d 개 들어 있는 문자열 %0.2f 점 주기" %(x,y))

변수가 5 개 들어 있는 문자열 97.50 점 주기

- format 을 사용하는 방법

In [ ]:
# 위치로 지정
print("변수가 {0} 개 들어 있는 문자열 {1}점 주기".format(x,y))

변수가 5 개 들어 있는 문자열 97.5점 주기

In [ ]:
# 변수를 지정
print("변수가 {n2} 개 들어 있는 문자열 {n1}점 주기".format(n2=x,n1=y))

변수가 5 개 들어 있는 문자열 97.5점 주기

- f"..."를 사용하는 방법

In [ ]:
# 간편하게 "..." 앞에 f를 붙인다
print(f"변수가 {x} 개 들어 있는 문자열 {y}점 주기")

변수가 5 개 들어 있는 문자열 97.5점 주기

### 소숫점 포매팅
- ":"를 사용

In [ ]:
phi = 3.141592
f"{phi}"

'3.141592'

In [ ]:
print(f"{phi}")
print(f"{phi:0.4f}")
print(f"{phi:0.2f}")

3.141592
3.1416
3.14

## 불리언
- 참과 거짓을 True, False로 표현
- 대소문자를 구분함

In [ ]:
a = True
b = False
a & b

False

In [ ]:
a | b

True

- ">", "<", "==" 등 조건문을 사용하여 불리언 값을 얻을 수 있다

In [ ]:
x = 3
x < 1

False

In [ ]:
x > 1

True

In [ ]:
# 어떤 값이 같은지를 보는 조건문에는 "=="를 사용한다
x == 3

True

### 불리언의 연산
- 불리언 변수가 연산에 사용되면 True는 1로, False는 0으로 취급된다

In [ ]:
print(a)
print(b)
print(a+b+3)

True
False
4

In [ ]:
a*1

1

In [ ]:
b*1

0

In [ ]:
a = bool(0)
a

False

# 데이터 묶음
 - 단 변수들을 여러개 묶어 처리하는 방법
 - 리스트(list), 배열(array), 튜플(tuple), 사전(dictionary)

## 리스트
 - 파이썬에서 가장 널리 사용되는 데이터 조작용 "통"
 - 리스트를 구성하는 각 항목의 데이터 타입은 서로 달라도 된다

### 리스트 생성
 - 리스트를 만들려면 대괄호 "[ ]" 를 사용하고 각 항목을 ','로 구분한다
 - list() 함수로도 만들 수 있다

In [ ]:
x = [1,2,3] ; x

[1, 2, 3]

In [ ]:
type(x)

list

In [ ]:
x = list([10,20,30]) ; x

[10, 20, 30]

In [ ]:
# 리스트 길이 (항목의 갯수)
len(x)

3

### 인덱싱
- 리스트에서 특정 위치의 항목 값을 얻는다
- 위치 번호는 '1'이 아니라 '0'부터 시작한다

In [ ]:
x[1]

20

In [ ]:
# 인덱싱을 이용한 항목 값의 변경 (assign)
x[2]=100 ; x

[10, 20, 100]

### 슬라이싱
- 어떤 범위의 항목을 얻는다

In [ ]:
x = [1,2,3,5,100]

# 슬라이싱으로 범위를 선택한다 (뒷쪽 경계는 포함하지 않음)
x[1:3]

[2, 3]

In [ ]:
# 뒤에서부터 인덱싱할 때는 '-' 를 사용
x[-2]

5

In [ ]:
x[0:4]

[1, 2, 3, 5]

### 특정 값이 있는 항목의 위치(index) 얻기
- index() 사용

In [ ]:
x

[1, 2, 3, 5, 100]

In [ ]:
x.index(100)

4

### 항목 추가 및 삭제: append(), del()

In [ ]:
print(x)
x.append('park') # 맨 뒤에 추가된다
x

[1, 2, 3, 5, 100]

[1, 2, 3, 5, 100, 'park']

In [ ]:
# 특정 위치의 항목을 제거 (복구가 안되므로 주의)
del x[2]
x

[1, 2, 5, 100, 'park']

In [ ]:
# 특정 항목의 갯수를 센다 (count)
x.count('park')

1

In [ ]:
x.append('park')
x.count('park')

2

In [ ]:
x

[1, 2, 5, 100, 'park', 'park']

### 리스트 정렬, sorted
- 숫자 또는 알파벳순으로 정렬한다

In [ ]:
x = ["park", "kim", "lee"]
sorted(x)

['kim', 'lee', 'park']

In [ ]:
x = [5,3,6,7,8,2,4,1]
sorted(x)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 원본 x는 바뀌지 않고 그대로 있다
x

[5, 3, 6, 7, 8, 2, 4, 1]

In [ ]:
# 순서 뒤집기
x.reverse()
x

[1, 4, 2, 8, 7, 6, 3, 5]

### 리스트 복제
- 리스트 전체를 반복 복제 하려면 "*"를 사용한다

In [ ]:
x = [1,2,3,"kim"]
x*3

[1, 2, 3, 'kim', 1, 2, 3, 'kim', 1, 2, 3, 'kim']

In [ ]:
x = [1]
x*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

## 튜플 (tuple)
- 튜플도 리스트처럼 여러 항목을 담을 수 있는 변수
- 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
- 읽기 전용 리스트인 셈이며, 처리 속도가 빠르다
- 튜플을 만들려면 소괄호( )를 사용하여 만들거나 ( )  없이 "," 로 구분하여 나열한다

In [ ]:
my_tuple = (1, 2, 3)
your_tuple = 4, 5,"hello"
my_tuple + your_tuple

(1, 2, 3, 4, 5, 'hello')

In [ ]:
a, b, c = 3, 4, 5
print(a)
print(b)
print(a+b+c)

3
4
12

In [ ]:
(a, b, c) = (3, 4, 5)
print(a+b+c)

12

## 사전 (Dictionaries)
- 키-값 조합 형태의 데이터 묶음
- 간단한 데이터베이스처럼 사용된다
- 항목을 찾을 때 키를 사용한다
- 딕셔너리에서 저장된 순서는 의미가 없다
- 딕셔너리는 중괄호 {  } 로 만들거나 dict()로 만든다

In [ ]:
student = {'grade': 3,'age': 21,'name': "kim"  }
student['grade']

3

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['grade', 'age', 'name'])
dict_values([3, 21, 'kim'])
dict_items([('grade', 3), ('age', 21), ('name', 'kim')])

In [ ]:
# 내용 변경
student['age'] = 28
student

{'grade': 3, 'age': 28, 'name': 'kim'}

In [ ]:
# 키:값 항목 추가 (없는 키를 사용하면 항목을 새로만든다)
student['address'] = 'Seoul'
student

{'grade': 3, 'age': 28, 'name': 'kim', 'address': 'Seoul'}

In [ ]:
d = dict()
d

{}

In [ ]:
d["key1"] = 10
d

{'key1': 10}

# 프로그램 흐름

## if
- if 문 다음이 True이면 ":" 이후 블록을 실행한다
- 블록은 들여쓰기가 같은 영역으로 구분한다

In [ ]:
x = 11
if x > 10:
    print("x > 10") 
    print("if 문 뒤에는 반드시 ':'가 있어야 한다")
    print("if 문 적용 블록은 들여쓰기로 구분한다")
else:
    print(" x <= 10")

x > 10
if 문 뒤에는 반드시 ':'가 있어야 한다
if 문 적용 블록은 들여쓰기로 구분한다

- else 문은 없어도 된다
- elif를 사용하여 다른 조건을 연속하여 검사할 수 있다

In [ ]:
x = 70
if x > 90:
    print("매우 높은 점수!") 
elif x > 60:
    print("평균은 넘는 점수!") 
else:
    print("낮은 점수!")

평균은 넘는 점수!

### 조건문에 in 사용

In [ ]:
y = [1,2,3,4]
x = 6
x in y

False

In [ ]:
if x in y:
    print("x가 y에 포함되어 있다")
else:
    print("x가 y에 포함되어 있지 않다")

x가 y에 포함되어 있지 않다

## for
- 특정 조건이 만족되는 동안 ":" 이후의 블록을 수행
- 수행할 블록은 들여쓰기로 구분한다

In [ ]:
y = [1,2,3,4]
for i in y:
    print(i*10)

10
20
30
40

### 리스트 내에서 for 사용하기

In [ ]:
# 새로운 리스트 생성하기
y = [1,2,3,4]
[i*100 for i in y]

[100, 200, 300, 400]

In [ ]:
# 조건에 맞는 문자열을 찾아서 리스트를 만들기
target = ['cat001', 'cat002', 'dog003', 'dog004']
match = 'cat'
matching = [s for s in target if match in s]
matching

['cat001', 'cat002']

### 특수변수, range
- 일정 범위의 정수값을 포함하는 변수를 만들어준다
- 날짜의 구간을 지정하는 date_range도 있다

In [ ]:
# 0~4 사이의 정수를 포함 : range(5)
x = range(5)
for i in x:
    print(i*10)

0
10
20
30
40

In [ ]:
# 1~11 사이의 정수를 2씩 띄어서 포함
# 마지막 값은 "이하"가 아니라 "미만"으로 처리한다
x = range(1,11,2)
for i in x: print(i*10)

10
30
50
70
90

In [ ]:
# for와 range를 사용하여 리스트 만들기
x = [i*10 for i in range(10)] 
x

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 인덱스와 항목 얻기, enumerate
- 리스트 항목의 인덱스 (순서 번호)를 같이 알려준다
- enumerate은 두 개의 값을 리턴한다

In [ ]:
x = ["kim", "park", "lee"]
list(enumerate(x))

[(0, 'kim'), (1, 'park'), (2, 'lee')]

In [ ]:
for i, name in enumerate(x):
    print(f"{i} 번째 사람 이름은 {name}입니다")

0 번째 사람 이름은 kim입니다
1 번째 사람 이름은 park입니다
2 번째 사람 이름은 lee입니다

## while
- 조건이 만족하는 동안 계속 수행

In [ ]:
x = 0
while x < 5:
    print('x =', x)
    x = x+1

x = 0
x = 1
x = 2
x = 3
x = 4

In [ ]:
# 무한 반복 형태로도 사용된다
x = 0
while True:
    print('x =', x)
    x = x+1
    if x > 5:
        print('Too Big!!')
        break

x = 0
x = 1
x = 2
x = 3
x = 4
x = 5
Too Big!!